:root {
 --darkmodeBlack: #1a1919;
 --darkmodeFont: #f0f0f0;
 --darkmodeFont-Gray: #dedede;
 --lightmodeWhite: #fafafa;
 --darkmodePurple: #6b00b3;
 --darkmodeGreen: #3c7f00;
 --lightmodeFont-Gray: #212121;
 --lightmodeFont: #1a1a1a;
 --lightmodePurple: #9900ff;
 --lightmodeGreen: #65ff00;

 --eartyWhite: #d4c7ba;
}

* {
 margin: 0;
 padding: 0;
}

html {
 color-scheme: light dark;
}

h1 {
 font-family: "Montserrat";
}

h2,
h3,
h4,
h5,
h6,
p,
a,
address {
 font-family: "Work Sans";
}

body {
 background-color: var(--lightmodeWhite);
 color: var(--lightmodeFont);
}

#changing-word {
 color: var(--lightmodeGreen);
 transition: opacity 0.5s ease-in-out;
}

footer {
 background-color: var(--lightmodeWhite);
 width: 100vw;
 display: block;
 overflow: hidden;
 padding: 70px 0;
 box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
 body {
  background-color: var(--darkmodeBlack);
  color: var(--darkmodeFont);
 }

 #changing-word {
  color: var(--darkmodeGreen);
 }

 footer {
  background-color: var(--darkmodeBlack);
 }

 .tagline {
 }
}
