@import url(fonts.css);

:root {
 --base-color: #fafafa;
 --base-variant: #e6e6e6;
 --text-color: #1a1a1a;
 --secondary-text: #212121;
 --primary-color: #800080;
 --accent-color: #008000;

 --system-ui: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Tahoma,
  Geneva, Verdana, Tahoma, Geneva, Verdana, Arial, sans-serif;
 --font-size-large: clamp(2rem, 5vw + 1rem, 4rem);
 --font-size-medium: clamp(1.5rem, 3vw + 1rem, 2.5rem);
 --font-size-small: clamp(1rem, 2vw + 0.75rem, 1.75rem);
}

.darkmode {
 --base-color: #1a1919;
 --base-variant: #111111;
 --text-color: #f0f0f0;
 --secondary-text: #dedede;
 --primary-color: #9933cc;
 --accent-color: #33cc33;
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html {
 color-scheme: light dark;
}

body {
 background-color: var(--base-color);
 color: var(--text-color);

 margin: 0;
 padding: 0;
 line-height: 1.6;
 max-width: 100%;
 overflow-x: hidden;
 transition: background-color 0.3s ease;
}

h1 {
 font-family: "Montserrat", var(--system-ui);
 font-size: var(--font-size-large);
 font-weight: 800;
 margin-bottom: 1em;
}
h1::selection {
 background-color: var(--primary-color);
 color: var(--accent-color);
}

p {
 font-size: var(--font-size-small);
}

h2,
p,
a,
address {
 font-family: "Work Sans", var(--system-ui);
}

a {
 text-decoration: none;
 color: var(--primary-color);
}

a:hover {
 color: var(--accent-color);
}

i {
 color: var(--primary-color);
}

i:hover {
 color: var(--accent-color);
}

#changing-word {
 color: var(--accent-color);
 transition: opacity 0.5s ease-in-out;
}
#changing-word::selection {
 color: var(--primary-color);
 background-color: var(--accent-color);
}

/* LANDING PAGE */

.main-container {
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px;
}

.landing-page {
 display: flex;
 flex-direction: column;
 justify-content: center;
 min-height: 100vh;
 padding: 2rem;
}

.hero-section {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.description {
 max-width: 600px;
 text-wrap: balance;
}
.description ::selection {
 background-color: var(--accent-color);
 color: var(--primary-color);
}

#cta-text {
 font-size: 36px;
 font-weight: bold;
 text-align: center;
 margin: 0.5rem auto 1rem;
}

/* BUTTON */

.cta-btn {
 display: inline-block;
 padding: 12px 24px;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 font-size: 16px;
 font-weight: bold;
 letter-spacing: 0.5px;
 transition: background-color 0.3s ease, transform 0.1s ease;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 background-color: var(--primary-color);
 color: whitesmoke;

 &:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
 }

 &:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
}

/* Accessibility focus styles */
.cta-btn:focus-visible {
 outline: none;
 box-shadow: 0 0 0 3px var(--text-color), 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
 background-color: var(--base-variant);
 width: 100vw;
 display: block;
 overflow: hidden;
 padding: 70px 0;
 box-sizing: border-box;
}

address {
 font-style: normal;
 line-height: 1.5;
 font-size: 16px;
 color: var(--text-color);
 padding: 20px;
 border: 1px solid #ddd;
 border-radius: 5px;
 background-color: var(--base-variant);
 text-align: center;
 max-width: 300px;
}

.footer-content {
 display: block;
 max-width: 1200px;
 margin: 0 auto;
 justify-content: center;
 align-items: center;
}

.company-logo {
 width: 150px;
 display: block;
 margin: 0 auto;
}

.tagline {
 font-size: 14px;
 color: var(--secondary-text);
 text-align: center;
 margin-bottom: 20px;
}

.footer-links {
 display: flex;
 justify-content: center;
 margin-bottom: 20px;
}

.footer-link {
 margin-right: 15px;
 color: var(--text-color);
 text-decoration: none;
 transition: color 0.3s ease;
}

.footer-link:hover {
 color: var(--accent-color);
}

.contact-icon,
.readme-icon {
 display: inline-block;
 vertical-align: middle;
}

.social-media {
 display: flex;
 justify-content: center;
 margin-bottom: 20px;
}

.social-link {
 margin-right: 15px;
 transition: color 0.3s ease;
}

.address-container {
 display: flex;
 justify-content: center;
 align-items: center;
}

.copyright {
 font-size: 12px;
 color: var(--secondary-text);
 text-align: center;
}

/* THEME SWITCHER */
#theme-switcher {
 height: 50px;
 width: 50px;
 padding: 0;
 border-radius: 50%;
 background-color: var(--base-variant);
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 top: 20px;
 right: 20px;
}

#theme-switcher svg {
 fill: var(--primary-color);
}

#theme-switcher svg:last-child {
 display: none;
}

.darkmode #theme-switcher svg:first-child {
 display: none;
}

.darkmode #theme-switcher svg:last-child {
 display: block;
}
